# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.iml
.idea/
*.log
# Spring Boot
src/main/resources/application.properties
# Node / React
node_modules/
/dist/
/build/
.env
# Flutter
/.dart_tool/
/.pub-cache/
.flutter-plugins
.pub/
# OS / IDE
.DS_Store
Thumbs.db
# Misc
*.tmp
*.bak
